apiVersion: v1
kind: Namespace
metadata:
  name: openshift-secrets-management
  labels:
    app.kubernetes.io/name: ocp-secrets-management
    app.kubernetes.io/part-of: ocp-secrets-management-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: secrets-management-operator
  namespace: openshift-secrets-management
  labels:
    app.kubernetes.io/name: ocp-secrets-management
    app.kubernetes.io/part-of: ocp-secrets-management-operator
    control-plane: controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: ocp-secrets-management
  template:
    metadata:
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: ocp-secrets-management
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: secrets-management-operator
      containers:
        - name: manager
          image: openshift.io/ocp-secrets-management-operator:latest
          imagePullPolicy: IfNotPresent
          command:
            - /manager
          args:
            - --leader-elect
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 8081
              name: health
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      terminationGracePeriodSeconds: 10
